{% extends "learning_logs/base.html" %}
{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>

    <p class="lead">Make your own Learning Log, and keep a list of the topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</p>

    {% if not request.user.is_anonymous %}
    <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">Add a new Topic &raquo;</a>
    {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
    {% endif %}
    </div>

    <hr />

{% if not request.user.is_anonymous %}
<h1 class="ml-5 mt-5 mb-4">Today's Topics</h1>

<ul class="d-flex flex-wrap list-none">
    {% for topic in topics %}
    <li class="list-group-item">
        <a href="{% url 'learning_logs:topic' topic.id %}">
        <div class="card" style="width: 18rem;">
            {% if topic.image %}
                <img style="aspect-ratio: 3/2" class="card-img-top" src="{{topic.image.url}}">
            {% else %}
                <img class="card-img-top" src="https://placehold.co/150x150">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title text-capitalize">
                    {{ topic }}
                </h5>
            </div>
        </div>
    </a>
    </li>
    {% empty %}
    <li>
        <h3>No topics have been added yet.</h3>
    </li>
    {% endfor %}
</ul>
<div class="ml-5">
    <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">View All Topics&raquo;</a>
</div>
{% endif %}

{% endblock page_header %}
